<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/styles/aboutUs.css">
</head>

<body>
    <div class="section">
        <div class="hero">
            <article>
                <h1>ABOUT US</h1>
                <img src="/static/styles/assets/footer-img.jpg" alt="">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, corporis dicta minus velit corrupti
                    hic consequuntur vero quibusdam numquam asperiores tenetur voluptatem qui nemo dolorum officiis.
                    Fuga debitis numquam itaque ullam reiciendis asperiores aliquam, assumenda officiis expedita,
                    praesentium nobis reprehenderit.
                </p>
                <h5>TEAM IGNITION CREW</h5>
                <p class="abc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore odio sequi vel
                    suscipit magnam commodi asperiores vero ipsum aspernatur sapiente temporibus eligendi ipsam,
                    excepturi, voluptate necessitatibus amet porro. Dolorem sit minima ipsum laudantium perspiciatis
                    veniam labore molestias quibusdam sunt.</p>
            </article>
        </div>
    </div>
</body>

</html>