<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <script src="https://kit.fontawesome.com/fa1ff06f34.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <link rel="stylesheet" href="/static/styles/contactUs.css">
</head>

<body>
    <section class="contact">
        <div class="content">
            <h2>CONTACT US</h2>
            <p>If you want any information or want to know more about our project then contact us on the given details.

            </p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>GLA UNIVERSITY,<br>Chaumuhan,Mathura,<br>281001</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+91 9897432190</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>ignitioncrew@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="containerForm">
                <form action="">
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" id="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" id="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea required="required"></textarea>

                        <span>Write Your Message</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" id="" required="required" value="Send">
                    </div>
                </form>
            </div>
        </div>

    </section>
</body>

</html>