<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/fa1ff06f34.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    <section id="home">
        <div class="header-section container flex">
            <div class="left-container">
                <h1>WELCOME TO STUDENT <br>
                    RECOMMENDATION SYSTEM</h1>
                
                <p>The software assists the university in automating the selection of the viable candidates for the process of recuitment.
                <br> Our vision is to automate the process of shortlisting by the usage of Machine Learning and Data Analysis.
                We provide various improvement solutions to recruiters to enhance retention rates of students
                using various demographics and analyzing latest technological trends.
                </p>
                <a href="#"><button class="retention">Retention Strategies</button></a>
            </div>
           
        </div>
        <div class="mission">
            <div class="mission-data">
                <br>
            <p>Let's take a deep dive into what are the key features and highlights which make this project a useful and a handy tool for any recruitment process.</p>
            <br>
            
            <h2>HIGHLIGHTS/ KEY FEATURES</h2>
            <br>
         <p>Selecting viable candidates for a particular company using recommendation system
        model.
        <br>
        Giving a detailed visualization of students preferred programming language, CP platform
        engagement, Leetcode progress and other co-curricular activities.
        <br>
         Using earlier placed student's to data to generate insights to help retention strategies.
        </p>
        <br>
    </div>
        <button class="recommend">Recommend Students</button>
        </div> 
    </section>
    <footer class="footer">
      <div class="footer-left">
        <h4>OUR VISION</h4>
        <img src="logo" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, architecto?</p>
        </div>
      </div>
      <ul class="footer-right">
        <li>
      <h4>OUR MISSION</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, nostrum.</p>
    </li>
    <li>
      <img src="/assets/istockphoto-856599656-612x612.jpg" alt="">
    </li>
    <li>
        <h4>Address</h4>
        <ul class="box">
            <li>127,Westwood Lane</li>
            <li>DA15 9PS, Sidcup</li>
            <li>London</li>
            <li>United Kingdom</li>
        </ul>
    </li>
    </ul>
    <div class="footer-bottom">
        <p>All Rights reserved by @ concerned authorities</p>
    </div>
    </footer>
</body>
</html>