<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLAthon</title>
    <script src="https://kit.fontawesome.com/fa1ff06f34.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <link rel="stylesheet" href="/static/styles/index.css">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}" type="text/css" media="all"/> -->
</head>

<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li class="listItem1"><a href="#"><img src="/static/assets/homepage/logo2.png"></a></li>
            <li class="listItem2"><a href="#">Home</a></li>
            <li class="listItem3"><a href="/templates/visualization.html">Visualization</a></< /li>
            <li class="listItem5"><a href="/templates/aboutUs.html">About Us</a></< /li>
            <li class="listItem6"><a href="/templates/contactUs.html">Contact Us</a></< /li>
            <li class="listItem7"><a class="button-link" href="/templates/login.html"><button class="navButton">Sign Up</< /button></a>
            </li>
        </ul>
    </nav>

    <!-- Section -->
    <section class="home">
        <div class="left">
            <div class="recruitment">
                <h1>Recruitment and Retention System</h1>
                <div class="recruitmentContent">
                    <p>The software assists the university in automating the selection of the viable candidates for the
                        process of recuitment.
                        <br> Our vision is to automate the process of shortlisting by the usage of Machine Learning and
                        Data Analysis.
                        <br>
                        We provide various improvement solutions to recruiters to enhance retention rates of students
                        using various demographics and analyzing latest technological trends.
                    </p>
                </div>
                <button class="recruitmentButton"><a href="/templates/visualization.html">Retention Strategies</a></button>
            </div>

            <div class="highlights">
                <div class="highlights-title">
                    <p>Let's take a deep dive into what are the key features and highlights which make this project a
                        useful
                        and a handy tool for any recruitment process.</p>
                </div>
                <br>
                <h2>HIGHLIGHTS/ KEY FEATURES</h2>
                <br>
                <div class="highlights-content">
                    <p>Selecting viable candidates for a particular company using recommendation system
                        model.
                        <br>
                        Giving a detailed visualization of students preferred programming language, CP platform
                        engagement, Leetcode progress and other co-curricular activities.
                        <br>
                        Using earlier placed student's to data to generate insights to help retention strategies.
                    </p>
                </div>
                <button class="highlights-button"><a href="/templates/login.html">Recommend Students</a></button>
            </div>
        </div>

        <div class="right">
            <img src="/static/assets/homepage/background-removebg.png" alt="">
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="ourMission">
            <h3>Our Mission</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sapiente veritatis quis saepe obcaecati ex, quaerat iure inventore dolore placeat eum quasi nisi blanditiis debitis ducimus magnam aut, rem itaque natus cupiditate. Reiciendis corporis vel itaque aut fugit doloremque animi.</p>
        </div>

        <div class="ourVision">
            <h3>Our Vision</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ea vitae alias harum dolores quisquam asperiores atque. Assumenda ullam dolores, ut aliquam sed rem inventore exercitationem illo cumque deleniti totam et enim, expedita numquam magnam blanditiis earum commodi delectus? Numquam!</p>
        </div>

        <div class="address">
            <h3>Address</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum et i.</p>
            <div class="social-links">

            </div>
        </div>
    </footer>

</body>

</html>