<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/visualization.css">
    <title>Visualization</title>
</head>
<header>
    <div class="container">
        <div class="content">
            <h1 class="heading">Student Visualization Portal</h1>
            <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit autem eum voluptate
                porro aspernatur voluptas incidunt debitis nemo pariatur! Quos libero autem minima aperiam rerum nisi
                eaque officia atque unde!</div>
        </div>
    </div>
</header>
<section>
    <div class="grid">
        <div id="gridItem1"><canvas id="language" width="400" height="400"></canvas></div>
        <div id="gridItem2"><canvas id="techStack" width="400" height="400"></canvas></div>
        <div id="gridItem3"><canvas id="leetcode" width="400" height="400"></canvas></div>
        <div id="gridItem4"><canvas id="gdpi" width="400" height="400"></canvas></div>
    </div>
</section>



<script type="module" src="/static/script/visualization.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.0/papaparse.min.js"
    integrity="sha512-BLtgHExslovxU1AJD+h/x7c8GGLvTTYe1evotrEkUDj0vTKRz6f4XAvziWO/7ykOfTnHvNWmx0vn14j8NlYuBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>