@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("/static/assets/contactPage/contact.jpg");
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.content p {

    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.containerForm {
    width: 40%;
    padding: 40px;
    background-color: #fff;
}

.containerForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.containerForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.containerForm .inputBox input:focus~span,
.containerForm .inputBox input:valid~span,
.containerForm .inputBox textarea:focus~span,
.containerForm .inputBox textarea:focus~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.containerForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    color: #fff;
}