@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Raleway:wght@600&display=swap');

body {
    font-size: 16px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 115, 0));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

nav {
    box-shadow: 2px 5px rgba(0, 0, 0, 0.856);
    backdrop-filter: blur(5px);
}

nav ul {
    display: flex;
    /* flex-direction: column; */
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(1, 49, 1, 0.856);

}

nav ul img {
    width: 5.5em;
    border-radius: 100px;
    margin-top: 0.3em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    transition: 5ms;
}

nav ul li a button .button-link{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    transition: 5ms;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

nav ul li button {
    width: 4.5em;
    height: 2.0em;
    background-color: rgba(188, 115, 4);
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    transition: 5ms;
    border-radius: 10px;
    font-weight: 900;
}

nav ul li button:hover {
    background-color: rgba(188, 115, 4, 0.8);
}

.home {
    display: flex;
    height: 90vh;
    /* border: 2px solid red; */
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right img {
    height: 100%;
    border-radius: 100px;
}

.left .recruitment {
    margin-left: 3em;
    margin-bottom: 3em;
    font-size: 1.1em;
    margin-top: 15em;
}

.left .recruitment h1 {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-bottom: 1em;
    letter-spacing: 6px;
}

.left .recruitment p {
    margin-bottom: 1em;
}

.left .recruitment button {
    width: 15em;
    height: 3em;
    background-color: rgba(188, 115, 4);
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    transition: 5ms;
    border-radius: 10px;
    font-weight: 900;
}
.left .recruitment button a{
    text-decoration: none;
    color: white;
}

.left .recruitment button a:hover{
    text-decoration: underline;
}

.left .recruitment button:hover {
    background-color: rgba(188, 115, 4, 0.8);
}

.left .highlights {
    margin: 2em;
    background-color: rgba(1, 49, 1, 0.856);
    padding: 1em;
    border-radius: 10px;
    width: 90%;
    color: white;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    height: 100%;
}

.left .highlights .highlights-title p {
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-bottom: 0.4em;
    line-height: 1.6;
}

.left .highlights h2 {
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-bottom: 0.8em;
    letter-spacing: 8px;
}

.left .highlights .highlights-content p {
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}

.left .highlights button {
    width: 15em;
    height: 3em;
    background-color: rgba(188, 115, 4);
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    transition: 5ms;
    border-radius: 10px;
    font-weight: 900;
    margin-top: 1.5em;
}

.left .highlights button a{
    text-decoration: none;
    color: white;
}

.left .highlights button a:hover{
    text-decoration: underline;
}

.left .highlights button:hover {
    background-color: rgba(188, 115, 4, 0.8);
}

footer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 49, 1, 0.856);
    color: white;
    padding: 2em;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

footer .ourMission,
.ourVision,
.address {
    padding: 6em;
}

footer .ourMission h3{
    font-size: 1.8em;
    letter-spacing: 6px;
}
footer .ourVision h3{
    font-size: 1.8em;
    letter-spacing: 6px;
}
footer .address h3{
    font-size: 1.8em;
    letter-spacing: 6px;
}

footer .ourMission p,
.ourVision p,
.address p{
    font-size: 0.8em;
}


